/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
/* Google Montserrat. */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 200ms ease-in-out;
  font-family: "Montserrat", sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 0.8rem;
  /* margin-bottom: 1rem; */
  height: 1.1rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 189, 1) 73%,
    rgba(0, 212, 255, 1) 100%
  );
  z-index: 200;
}

.itemL a {
  text-decoration: none;
  color: aliceblue;
}

.itemR ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.itemR ul a {
  text-decoration: none;
  color: aliceblue;
  margin: 0.7rem;
}
.itemR a:hover {
  color: rgb(7, 253, 60);
  cursor: pointer;
}

/* hero section */
.hero {
  /* padding: 3rem; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 5rem; */
  max-width: 120rem;
  grid-template-columns: 1fr, 1fr;
  background: rgb(213, 0, 255);
  background: linear-gradient(
    90deg,
    rgba(213, 0, 255, 0.1) 13%,
    rgba(239, 0, 255, 0.1) 51%,
    rgba(194, 0, 255, 0.1) 72%
  );
  width: 100%;
  height: 50vh;
}

.heroText {
  margin-left: 10rem;
  line-height: 1.3rem;
}

.heroText p:hover {
  transform: translateY(-0.2rem);
}

.heroText h1:hover {
  transform: translateY(-0.2rem);
}
.topData {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.heroData {
  margin: 1rem auto;
}
.heroImg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25rem;
  z-index: 1;
}
.heroGif {
  position: absolute;
  margin: 2rem;
  height: 55%;
  width: 55%;
}

.btn {
  font-size: 0.7rem;
  margin: 0 1rem 0 0;
  background-color: rgba(0, 19, 160, 0.8);
  color: aliceblue;
  border-radius: 3rem;
  padding: 0 1rem;
  cursor: pointer;
  border: none;
}
.btn:hover {
  color: black;
  background-color: aliceblue;
  /* border: 0.3px solid black; */

  transform: translateY(-0.2rem);
}

/* Portfolio card. */
.page-contain {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #e7f3f1;
  border: 0.75em solid white;
  padding: 2em;
  font-family: "Open Sans", sans-serif;
}

.projectTitle {
  padding: 0.5rem 1rem;
  margin: 1rem;
  position: absolute;
  font-size: 2rem;
}
.data-card {
  display: flex;
  flex-direction: column;
  max-width: 20.75em;
  min-height: 20.75em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(#000000, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;
}
.data-card h3 {
  color: #2e3c40;
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #753bbd;
  transition: color 0.45s ease, border 0.45s ease;
}
.data-card h4 {
  color: #627084;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color 0.45s ease;
}

.data-card p {
  opacity: 0;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.8;
  margin: 0 0 1.25em;
  transform: translateY(-1em);
  transition: opacity 0.45s ease, transform 0.5s ease-in;
}

.data-card .link-text {
  display: block;
  color: #753bbd;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  margin: auto 0 0;
  transition: color 0.45s ease-in;
}

.data-card:hover {
  background: #753bbd;
  transform: scale(1.02);
}

.data-card:hover h3 {
  color: #ffffff;
  border-bottom-color: #a754c4;
}

.data-card:hover h4 {
  color: #ffffff;
}

.data-card:hover p {
  opacity: 1;
  transform: none;
}

.gitbtn {
  opacity: 0;
}
.data-card:hover .gitbtn {
  opacity: 1;
  font-size: 0.7rem;
  margin: 0 1rem 0 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(148, 12, 163);
  border-radius: 3rem;
  padding: 0 1rem;
  cursor: pointer;
  border: none;
}

.data-card:hover .link-text {
  color: #ffffff;
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}
.skills {
  height: 50vh;
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.content {
  height: 1em;
  width: 1em;
}
/* .htm {
  height: 2rem;
  width: 20%;
} */
